.axis {
  font-size:12px;
  font-family:"Open Sans",sans-serif;
  shape-rendering: crispEdges;
}

circle {
  stroke-width:0;
  opacity:.5;
}

rect {
	stroke-width:1px;
	stroke:#fff;
}

path {
	stroke-width:2;
	fill:none !important;
	opacity:.7;
}

svg {
	margin-left:50px;
}

.axis path, .tick {
  fill:none;
  stroke:#777;
}

.title {
	font-size:16px;
	font-weight:700;
}

body, html {
	margin:0;
	padding:0;
	font-family:"Open Sans",sans-serif;
}

.btn-group {
	margin:1% auto;
	display:block;
	text-align:center;
}

.checkbox input[type="checkbox"] {
	margin-left:-10px;
	margin-right:10px;
}

#loading {
	position: absolute;
	left: 50%;
	margin-left: -16px;
	display:none;
}

.popover {
	z-index:9999;
	left:0 !important;
	right:0 !important;
}

label + span {
	font-weight:700;
}

label {
	float:left;
	margin-right:5%;
	width:20px;
}

td {
	min-width:65px;
	padding:10% 1%;
}

div.airline {
	clear:both;
	width:100%;
}

.clear {
	clear:both;
}

#controls {
	position:absolute;
	top:0;
	right:0;
	padding:1%;
	box-shadow: 0 0 25px #aaa;
	background:rgba(0,0,0,.6);
	color:#fff;
	height:100%;
}

#controls span {
	color:#fff;
}

#controls button {
	padding:1px 8px;
	-webkit-transition:width 1s;
}