.axis {
	font-size:12px;
	font-family:"Open Sans",sans-serif;
	shape-rendering: crispEdges;
	path, & .tick {
	  fill:none;
	  stroke:#777;
	}
}

circle {
	stroke-width:0;
	opacity:.5;
	cursor:default;
}

rect {
	stroke-width:1px;
	stroke:#fff;
}

path {
	stroke-width:2;
	fill:none !important;
	opacity:.7;
}

.title {
	font-size:16px;
	font-weight:700;
}

body, html {
	margin:0;
	padding:0;
	font-family:"Open Sans",sans-serif;
}

.btn-group {
	margin:1% auto;
	display:block;
	text-align:center;
}

.checkbox input[type="checkbox"] {
	margin-left:-10px;
	margin-right:10px;
}

.local-data {
	z-index:999;
	position:absolute;
	padding:0 2% 2%;
	font-size:18px;
	box-shadow:0 0 10px #ccc;
	background:#fff;
	background:rgba(255,255,255,.9);
	opacity:1;
	-webkit-transition:opacity .2s ease-in-out;
	&.hiddenPop {
		opacity:0;
	}
}

#loading {
	height:100%;
	width:100%;
	position:absolute;
	background:rgba(255,255,255,.8);
	display:none;
	img {
		display:block;
		margin:0 auto;
		margin-top:10%;
	}
}

label {
	float:left;
	margin-right:5%;
	width:20px;
	+ & span {
		font-weight:700;
	}
}

td {
	min-width:65px;
	padding:5% 1%;
}

.clear {
	clear:both;
}

.hid-master {
	opacity:0;
}

#controls {
	padding:1%;
	box-shadow: 0 0 25px #aaa;
	width:100%;
	span {
		color:#fff;
	}
	button {
		padding:1px 8px;
	}
}